.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.perspectiveBar {
  display: block;
  width: 100%;
  top: 60%;
  height: 40%;
  position: fixed;
  background-color: hsl(195deg, 20%, 86%);
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 140px;
  right: 0;
  width: calc(1024px * 0.35);
  min-height: 500px;
}

.controlColumn {
  width: 50%;
}
